!!! 5
%html

  %head
    %meta{charset: 'utf-8'}
    %title Retention Science - Purchases & Recommendations
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body
    .container
      .hero-unit
        .pull-right
          - if admin_signed_in?
            = link_to 'Sign Out', destroy_admin_session_path, method: :delete
          - else
            = link_to 'Sign In', new_admin_session_path

        .flash_messages
          %p.notice= notice
          %p.error= alert


        %h2= content_for(:h2_title)

        = yield

    .footer
      .js
        = javascript_include_tag 'application'